body {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 770px;
}

.markdown-section {
  padding: 0;
  width: inherit;

  pre[data-lang="pathify"],
  code.lang-pathify {
    margin: 0;
    padding: 0;
  }
}

#container {
  // width: 770px;
  height: 400px;

  opacity: 0;
  transition: 1s all;
  body.loaded & {
    opacity: 1;
  }
}

#caption {
  display: block;
  min-height: 2.7em;
}

a {
  color: #25afaf;
  font-weight: 600;
}

#carousel,
.owl-wrapper-outer {
  width: 760px;
  // border: 1px solid #EEE;
}

.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 760px;
  height: 300px;

  label {
    display: none;
  }
}

.large code {
  font-size: 2.5em !important;
}


@media screen and (max-width: 768px) {
  #container,
  #carousel,
  .owl-wrapper-outer,
  .slide {
    width: 100%;
  }

  .markdown-section code.lang-pathify {
    font-size: 4vw !important;
  }
}

@media screen and (max-width: 490px) {

  .slide {
    height: 65vw;
  }

}