pre[data-lang="pathify"],
code.lang-pathify {
  margin: 0;
  overflow: visible;
  background: none;
}

pre[data-lang="pathify"] {
  padding: 2em 2em 4em;
  border-radius: 0;

  @media screen and (max-width: $tablet) {
    padding: 1em 1em 1.5em;
  }

  &:after {
    content: none;
  }

  &:nth-of-type(1) {
    text-align: center !important;
    code {
      letter-spacing: 0.01em;
      font-size: 3.3em;

      @media screen and (max-width: $tablet) {
        font-size: 8vw;
      }

    }
  }

  & + pre[data-lang="pathify"] {
    padding-top: 0;
    margin-top: -3em;

    @media screen and (max-width: $tablet) {
      margin-top: -1em;
    }

  }
}

.token.keyword {
  color: $key;
}

code.lang-pathify,
code.lang-pathify * {
  -webkit-font-smoothing: antialiased;
}

code.lang-pathify {

  line-height: 1.1;
  letter-spacing: -0.03em;
  color: $dark;

  text-align: left;
  display: inline-block;

  font-family: Baloo, Merriweather, Serif;
  font-size: 2.2rem;
  font-weight: 300;

  @media screen and (max-width: $tablet) {
    font-size: 5vw;
  }

  padding: 0;

  .token {

    // for ligatures @see https://github.com/TryGhost/Casper/issues/235
    font-style: normal;
    font-weight: 400;

    &.construct {
    }

    &.comment {
      font-size: 0.8em;
      vertical-align: bottom;
      font-style: italic;
      color: $light;
    }

    &.string {
      color: #25afaf;
    }

    &.number,
    &.boolean {
      color: $light;
    }

    &.punctuation {
      color: $dark;
      padding: 0 .1em;
    }

    &.pathify,
    &.function,
    &.keyword {
      color: $key2;
      // color: $dark;
    }

    &.method {
      color: $dark;
    }

  }

}
