#config {
  display: flex;

  .column,
  .options {
    padding-right: 10px;

    label,
    select {
      display: block;
      width: 100%;
      min-width: 150px;
    }

    label {
      padding: 5px;
    }
  }
}
