* {
  // -webkit-font-smoothing: antialiased !important;
}

& {
  padding-bottom: 50vh;
}

// ---------------------------------------------------------------------------------------------------------------------
// HEADINGS
// ---------------------------------------------------------------------------------------------------------------------

h1, h2, h3, h4, h5 {
  font-family: $title-font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: $title-weight;

  a {
    font-weight: $title-weight;
    transition: 0.2s color;
    &.anchor:hover {
      text-decoration: none;
      span {
        color: $link;
      }
    }
  }
}

h1, h2 {
  margin-left: -15px;
  padding-left: 15px;
  padding-bottom: .2em;
}

h2 {
  border-bottom: 1px solid #EEE;
}

h1 + h2,
h1 + h3,
h1 + h4,
h1 + blockquote {
  margin-top: 0.75em;
}

h1 { font-size: 3em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }

// ---------------------------------------------------------------------------------------------------------------------
// FORMATTING
// ---------------------------------------------------------------------------------------------------------------------

table, ul, ol {
  margin-left: 25px;
}

ol li p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;

  &:last-child {
    margin-bottom: 2em;
  }
}

.indent {
  margin-left: 20px;
}



@media only screen and (max-width: 600px) {
  pre {
    margin-left: 0;
  }
}

p.tip + p.tip {
  margin-top: -1.5em;
}

p a:hover {
  color: lighten($link, 10%);
}

em {
  color: #34495e;
}

// ---------------------------------------------------------------------------------------------------------------------
// CODE
// ---------------------------------------------------------------------------------------------------------------------

pre {
  padding: 0;
  margin-left: 25px;

  > code {
    padding: 10px 15px;
  }

  + pre {
    margin-top: -.75em;
  }

  &:after {
    padding: 8px 10px;
  }
}

code, pre {
  border-radius: 4px;
  color: $key;
}

h2, h3, h4 {
  & code {
    font-size: 1em;
    font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
    font-weight: 700;
    display: inline-block;
    background: none;
    padding: 0;
    margin: 0;
    color: inherit;

    &:before {
      display: inline-block;
      width: 1em;
      margin-left: -1em;
      content: "#";
      color: #42b983;
    }
  }
}
