.sidebar {
  > h1 {
    text-align: left;
    margin-left: 15px;
    font-family: Merriweather;
    font-weight: 400;
  }

  .sidebar-nav > ul > li {
    margin-bottom: 30px;
    font-size: 17px;

    > p > a {
      font-size: 17px;
      font-weight: 700;
    }
  }

  > li > p {
    font-family: Merriweather;
    font-weight: 400;
    color: $dark;
  }

  a:hover {
    color: $key;
    text-decoration: none;
  }
}
