body {
  font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
  font-size: 15px;
  color: #34495e;
}

#app {
  text-align: center;
  color: #2c3e50;
}

h1, h2 {
  font-weight: normal;
}

.content {
  h1, h2, h3, h4, h5,
  strong {
    color: #2c3e50;
  }

  p,
  ol,
  ul {
    line-height: 1.6rem;
    word-spacing: .05rem;
  }
}


ul {
  list-style-type: none;
  padding: 0;
}

li {
  // display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}


* {
  text-align: left;
  line-height: 1.4em;
}

.content pre,
pre {
  margin: 1em;
  padding: 1em 1.5em;
  border-radius: 4px;
  background: #f8f8f8;
  color: black;
}

.field {
  margin-right: .5em;
}

label.label.is-small {
  letter-spacing: 0.05em;
}

.columns {
  margin-top: 0;
}

.controls {
  border-bottom: 1px solid #EEE;
}

fieldset {

  border: 0;
  padding: 1em;
  max-width: 400px;
  font-size: 1.4em;
  font-weight: bold;

  legend {
    font-family: Merriweather, sans-serif;
    font-size: 1.5rem;
    font-weight: normal;
  }

  /*
  > .field {
    display: flex;
  }

  .label {
    min-width: 150px;
    vertical-align: baseline;
    line-height: 2em;
    margin-bottom: 0;
  }

  .control {
    flex: 1;
  }
  */
}

h1, h2, h3, h4, h5 {
  font-family: Merriweather;
  margin-top: 2em;
}

.content > h1:first-child,
.content > h2:first-child,
.content > h3:first-child,
.content > h4:first-child {
  margin-top: 0;
}

.title + .title {
  margin-top: 0.5em;
}

h2 span {
  display: none;
  font-size: 0.35em;
  margin-bottom: 0.3em;
  margin-top: -1.6em;
}