.content {
  padding-top: 30px; }

.markdown-section {
  padding-bottom: 50vh; }

.markdown-section h1, .markdown-section h2, .markdown-section h3, .markdown-section h4, .markdown-section h5 {
  font-family: Merriweather, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400; }
  .markdown-section h1 a, .markdown-section h2 a, .markdown-section h3 a, .markdown-section h4 a, .markdown-section h5 a {
    font-weight: 400;
    transition: 0.2s color; }
    .markdown-section h1 a.anchor:hover, .markdown-section h2 a.anchor:hover, .markdown-section h3 a.anchor:hover, .markdown-section h4 a.anchor:hover, .markdown-section h5 a.anchor:hover {
      text-decoration: none; }
      .markdown-section h1 a.anchor:hover span, .markdown-section h2 a.anchor:hover span, .markdown-section h3 a.anchor:hover span, .markdown-section h4 a.anchor:hover span, .markdown-section h5 a.anchor:hover span {
        color: #07a6a6; }

.markdown-section h1, .markdown-section h2 {
  margin-left: -15px;
  padding-left: 15px;
  padding-bottom: .2em; }

.markdown-section h2 {
  border-bottom: 1px solid #EEE; }

.markdown-section h1 + h2,
.markdown-section h1 + h3,
.markdown-section h1 + h4,
.markdown-section h1 + blockquote {
  margin-top: 0.75em; }

.markdown-section h1 {
  font-size: 3em; }

.markdown-section h2 {
  font-size: 2.2em; }

.markdown-section h3 {
  font-size: 1.8em; }

.markdown-section table, .markdown-section ul, .markdown-section ol {
  margin-left: 25px; }

.markdown-section ol li p {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }
  .markdown-section ol li p:last-child {
    margin-bottom: 2em; }

.markdown-section .indent {
  margin-left: 20px; }

@media only screen and (max-width: 600px) {
  .markdown-section pre {
    margin-left: 0; } }

.markdown-section p.tip + p.tip {
  margin-top: -1.5em; }

.markdown-section p a:hover {
  color: #09d7d7; }

.markdown-section pre {
  padding: 0;
  margin-left: 25px; }
  .markdown-section pre > code {
    padding: 10px 15px; }
  .markdown-section pre + pre {
    margin-top: -.75em; }
  .markdown-section pre:after {
    padding: 8px 10px; }

.markdown-section code, .markdown-section pre {
  border-radius: 4px;
  color: #ff7337; }

.markdown-section h2 code, .markdown-section h3 code, .markdown-section h4 code {
  font-size: 1em;
  font-family: Source Sans Pro,Helvetica Neue,Arial,sans-serif;
  font-weight: 700;
  display: inline-block;
  background: none;
  padding: 0;
  margin: 0;
  color: inherit; }
  .markdown-section h2 code:before, .markdown-section h3 code:before, .markdown-section h4 code:before {
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    content: "#";
    color: #42b983; }

.markdown-section pre[data-lang="pathify"],
.markdown-section code.lang-pathify {
  margin: 0;
  overflow: visible;
  background: none; }

.markdown-section pre[data-lang="pathify"] {
  padding: 2em 2em 4em;
  border-radius: 0; }
  @media screen and (max-width: 768px) {
    .markdown-section pre[data-lang="pathify"] {
      padding: 1em 1em 1.5em; } }
  .markdown-section pre[data-lang="pathify"]:after {
    content: none; }
  .markdown-section pre[data-lang="pathify"]:nth-of-type(1) {
    text-align: center !important; }
    .markdown-section pre[data-lang="pathify"]:nth-of-type(1) code {
      letter-spacing: 0.01em;
      font-size: 3.3em; }
      @media screen and (max-width: 768px) {
        .markdown-section pre[data-lang="pathify"]:nth-of-type(1) code {
          font-size: 8vw; } }
  .markdown-section pre[data-lang="pathify"] + pre[data-lang="pathify"] {
    padding-top: 0;
    margin-top: -3em; }
    @media screen and (max-width: 768px) {
      .markdown-section pre[data-lang="pathify"] + pre[data-lang="pathify"] {
        margin-top: -1em; } }

.markdown-section .token.keyword {
  color: #ff7337; }

.markdown-section code.lang-pathify,
.markdown-section code.lang-pathify * {
  -webkit-font-smoothing: antialiased; }

.markdown-section code.lang-pathify {
  line-height: 1.1;
  letter-spacing: -0.03em;
  color: #203245;
  text-align: left;
  display: inline-block;
  font-family: Baloo, Merriweather, Serif;
  font-size: 2.2rem;
  font-weight: 300;
  padding: 0; }
  @media screen and (max-width: 768px) {
    .markdown-section code.lang-pathify {
      font-size: 5vw; } }
  .markdown-section code.lang-pathify .token {
    font-style: normal;
    font-weight: 400; }
    .markdown-section code.lang-pathify .token.comment {
      font-size: 0.8em;
      vertical-align: bottom;
      font-style: italic;
      color: #BBB; }
    .markdown-section code.lang-pathify .token.string {
      color: #25afaf; }
    .markdown-section code.lang-pathify .token.number, .markdown-section code.lang-pathify .token.boolean {
      color: #BBB; }
    .markdown-section code.lang-pathify .token.punctuation {
      color: #203245;
      padding: 0 .1em; }
    .markdown-section code.lang-pathify .token.pathify, .markdown-section code.lang-pathify .token.function, .markdown-section code.lang-pathify .token.keyword {
      color: #EB2972; }
    .markdown-section code.lang-pathify .token.method {
      color: #203245; }

.cover-main img {
  width: 300px; }

.cover-main blockquote {
  margin: 40px 0;
  font-family: Baloo, cursive;
  text-transform: lowercase; }
  .cover-main blockquote p {
    margin: 0.5em 0; }
  .cover-main blockquote p.title {
    margin: 0.3em 0;
    font-size: 2.5em;
    line-height: 0.8em; }
  .cover-main blockquote p.strapline {
    font-size: 0.6em; }

.sidebar > h1 {
  text-align: left;
  margin-left: 15px;
  font-family: Merriweather, serif;
  font-weight: 400; }

.sidebar .sidebar-nav > ul > li {
  margin-bottom: 30px;
  font-size: 17px; }
  .sidebar .sidebar-nav > ul > li > p > a {
    font-size: 17px;
    font-weight: 700; }

.sidebar > li > p {
  font-family: Merriweather, serif;
  font-weight: 400;
  color: #203245; }

.sidebar a:hover {
  color: #07a6a6;
  text-decoration: none; }
