@keyframes neon {
    0%   { opacity: 1; }
    50%  { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes line {
    0%   { opacity: 1; }
    50%  { opacity: 0.2; }
    100% { opacity: 1; }
}

svg[data-style="neon"] .line {
    mix-blend-mode: screen;
    animation: line 2s ease infinite;
}

svg[data-style="neon"] .neon {
    animation: neon 2s ease infinite;
    animation-delay: 0.1s;
}
